body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #00CDFF;
  position: fixed;
  padding: 20px;
}

.sidebar h2 {
  color: #38bdf8;
}

.sidebar a {
  display: block;
  color: #e5e7eb;
  text-decoration: none;
  margin: 10px 0;
}

.sidebar a:hover {
  color: #38bdf8;
}

.content {
  margin-left: 270px;
  padding: 30px;
}
